* {
    box-sizing: border-box;
    /* margin: 0 auto; */
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#menu-left {
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

#menu-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.center {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 'menu  menu header right ' 'menu menu header right' 'menu menu footer main ' 'menu menu footer main';
    gap: 20px;
    background-color: white;
    padding: 0px;
    width: 100%;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}

.content {
    margin-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
}

.chiase {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.chiase #rate {
    display: flex;
    align-items: center;
}

.chiase #rate h2 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}